[Unit]
Description=PRISMS WiFi Setup Interface
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/wifi_connect/
ExecStart=/srv/homeassistant/bin/python wifi_connect gateway

[Install]
WantedBy=multi-user.target
